.archi{
    display: flex;

    h1{
        color: #39d4ba;
        font-size: 40px;
        margin-top: 20px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 10px;
            border-radius: 15px;
            h2{
                color: #fff;
            }
        }
    }

    form{
        input{
            background-color: #39d4ba4f;
            color: #fff;
            padding: 10px;
            border: #39d4ba 1px solid;
            font-size: 18px;
            margin-top: 3%;
            display: block;
        }

        button{
            margin-top: 3%;
            background-color: #39d4ba;
            padding: 15px;
        }
    }

    .posts{
        padding-top: 10%;

        div{
            display: flex;

            h2{
                color: #fff;
            }

            button{
                background-color: #39d4ba;
                padding: 10px;
            }

            a{
                color: #fff;
                text-decoration: none;
                padding: 10px;
            }
        }
        
    }
}